<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Hide Everything" android:hasCode="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="按应用隐藏应用列表（仅见系统基础组件+自身）与 ADB 状态" />
        <meta-data android:name="xposedminversion" android:value="93" />
    </application>
</manifest>
